main {
    margin: 0 auto;
    width: fit-content;
    border: 1px solid #888;
    position: relative;

    .one-with-colors {
        position: absolute;
        padding: 16px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        user-select: none;
    }

    .one-with-text {
        position: relative;
        padding: 16px;
        /* Make text invisible */
        color: transparent;
        /* But keep caret visible */
        caret-color: black;
    }

    #custom-menu {
        display: none;
        z-index: 1000;
        position: absolute;
        overflow: hidden;
        border: 1px solid #CCC;
        white-space: nowrap;
        font-family: sans-serif;
        background: #FFF;
        color: #333;
        border-radius: 5px;
        padding: 0;
    }

    /* Each of the items in the list */
    #custom-menu li {
        padding: 8px 12px;
        cursor: pointer;
        list-style-type: none;
        transition: all .3s ease;
        user-select: none;
    }

    #custom-menu li:hover {
        background-color: #DEF;
    }
}